# Ignore node_modules in both backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore environment variables
backend/.env
frontend/.env

# macOS system files
.DS_Store

# amplify
node_modules
.amplify
amplify_outputs*
amplifyconfiguration*
